<navbar></navbar>

<form target="_blank" class="container">
    <div class="form-bod bg-slate-900 rounded-lg px-2 py-9 m-4" action="https://formsubmit.co/haydenmunt9@gmail.com" method="POST">
        <h1 class="font-bold uppercase text-white ml-4">Contact Me (WIP)</h1>
        <hr class="bg-white mt-3 mb-3 ml-4 pr-9 rounded-lg">

        <div class="m-3 text-white">
            <div class="mb-3">
                <label for="email" class="form-label">Discord Tag</label>
                <input type="text" class="form-control rounded-lg text-white bg-slate-800 border-none focus-ring ring-indigo-900 hover:shadow-lg fade-in transition ease-in-out hover:cursor-pointer hover:translate-z-1" id="tag" placeholder="E.g. Unbreakablenight#0001" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" name="email" class="form-control rounded-lg text-white bg-slate-800 border-none focus-ring ring-indigo-900 hover:shadow-lg fade-in transition ease-in-out hover:cursor-pointer hover:translate-z-1" id="email" placeholder="name@example.com" required>
              </div>
    
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea type="text" rows="10" class="form-control rounded-lg text-white bg-slate-800 border-none focus-ring ring-indigo-900 hover:shadow-lg fade-in transition ease-in-out hover:cursor-pointer hover:translate-z-1" required></textarea>
            </div>

            <input type="hidden" name="_captcha" value="true">
            <button type="submit" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg ml-auto">Submit</button>
        </div>
  </div>
</form>

<waves class="fill-slate-900 fixed-bottom"></waves>

