<navbar></navbar>
  
 
<!-- Section 1 -->
<section class="py-12 sm:py-16 text-white">
    <div class="max-w-7xl px-10 mx-auto sm:text-center">
        <h1 class="text-blue-500 font-semibold uppercase text-xl sm:text-md">Projects I am working on.</h1>
        <p class="mt-4 text-white/50 text-base sm:text-xl lg:text-2xl">Here's some awesome projects I've been working on/contributing to.</p>
        <div class="justify-content-center mx-auto flex grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 my-12 sm:my-16">
            <a href="www.ratobot.xyz:8076" class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg hover:translate-x-3 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://cdn.discordapp.com/avatars/849950045616078898/a1f5212a375f47e564c4248213cb12b4.png?size=4096">
                <p class="font-bold mt-4">Rato</p>
                <p class="mt-2 text-sm text-gray-500">Rato is a multi-functional...</p>
            </a>
            <a href="https://discord.com/oauth2/authorize?client_id=801468894400610324&scope=bot%20applications.commands&permissions=379969" class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border-none hover:translate-y-2 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://cdn.discordapp.com/avatars/801468894400610324/2d88da9ce9a2396c5a67e5eb2029647b.webp?size=1024">
                <p class="font-bold mt-4">Wumps</p>
                <p class="mt-2 text-sm text-gray-500 sm:ml-5">Wumps is a lightweight..</p>
            </a>
            <a href="https://discord.com/api/oauth2/authorize?client_id=962560118342447204&scope=applications.commands+bot&permissions=378024561665" class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border-none hover:translate-y-2 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://cdn.discordapp.com/avatars/962560118342447204/759302f1e1cff52e8638664d9a6a838b.png?size=4096">
                <p class="font-bold mt-4">Database Manager</p>
                <p class="mt-2 text-sm text-gray-500 sm:ml-5 text-center">Fully customizable database management related discord bot.</p>
            </a>
        </div>
    </div>

    <waves class="fixed-bottom fill-slate-900"></waves>
</section>
  
  
  <style>
    .wave-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-bottom-1647657924 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-top-1647658261 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-top-1647658261 svg {
      position: relative;
      display: block;
      width: calc(121% + 1.3px);
      height: 190px;
  }
  </style>