<meta name="title" content="Unbreakablenight | Projectss">
<meta name="description" content="Hey there, here's some amazing projects I've been coding/contributing to.">
<meta name="keywords" content="unbreakable, discord, night, unbreakablenight, discordbot, rato, ratio, projects, unbreakablenight projects page">

<navbar></navbar>


<!-- Section 1 -->
<section class="py-12 sm:py-16 text-white">
    <div class="max-w-7xl px-10 mx-auto sm:text-center">
        <h1 class="text-blue-500 font-semibold uppercase text-xl sm:text-md">Projects I am working on.</h1>
        <p class="mt-4 text-white/50 text-base sm:text-xl lg:text-2xl">Here's some awesome projects I've been working on/contributing to.</p>
        <div class="justify-content-center mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 my-12 sm:my-16">
            <a href="https://www.ratobot.xyz:8076" class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg hover:translate-x-3 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://cdn.discordapp.com/avatars/849950045616078898/59204205e89b6137e5fc9cbd40ee1dd4.png?size=4096">
                <p class="font-bold mt-4">Rato</p>
                <p class="mt-2 text-sm text-gray-500">Rato is a multi-functional. (Discontinued)</p>
            </a>
            <a href="https://discord.com/oauth2/authorize?client_id=801468894400610324&scope=bot%20applications.commands&permissions=379969" class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border-none hover:translate-y-2 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://cdn.discordapp.com/avatars/801468894400610324/458c9c3ec67745910c9c6ad2ec0ca2cc.png?size=4096">
                <p class="font-bold mt-4">Wumps</p>
                <p class="mt-2 text-sm text-gray-500 sm:ml-5">Wumps is a fully customizable server multipurpose Discord bot for your Discord server.</p>
            </a>
            <a href="https://discord.com/api/oauth2/authorize?client_id=962560118342447204&scope=applications.commands+bot&permissions=378024561665" class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border-none hover:translate-y-2 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://cdn.discordapp.com/avatars/962560118342447204/759302f1e1cff52e8638664d9a6a838b.png?size=4096">
                <p class="font-bold mt-4">Database Manager</p>
                <p class="mt-2 text-sm text-gray-500 sm:ml-5 text-center">Fully customizable database management related discord bot.</p>
            </a>
            <a href="https://discord.com/oauth2/authorize?client_id=884525761694933073&scope=bot+applications.commands&response_type=code&redirect_uri=https://www.sparkv.tk/api/callback&permissions=294074575990" class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border-none hover:translate-y-2 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://cdn.discordapp.com/avatars/884525761694933073/8f9a6c25685e647362e6663966c3cf33.webp">
                <p class="font-bold mt-4">SparkV</p>
                <p class="mt-2 text-sm text-gray-500 sm:ml-5 text-center">SparkV is a multipurpose bot with a Starboard, Tickets, AntiScam, Music, Memes, Moderation, Leveling, a dashboard, and more.</p>
            </a>
            <a href="https://discord.com/api/oauth2/authorize?client_id=982887627181158440&scope=bot+applications.commands&permissions=1230404624497" class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border-none hover:translate-y-2 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://cdn.discordapp.com/avatars/982887627181158440/44d599e955b64622ae502c3ad86d9359.webp">
                <p class="font-bold mt-4">Ashe</p>
                <p class="mt-2 text-sm text-gray-500 sm:ml-5 text-center">A more stable, modern, Discord bot for all servers.</p>
            </a>
            <div class="hover:text-white rounded-lg py-10 flex flex-col items-center justify-center shadow-lg border-none hover:translate-y-2 fade-in transition delay-75 hover:cursor-pointer">
                <img class="w-16 h-auto rounded-circle" src="https://disforge.com/assets/img/bot_icons/772243139112861696.png?t=5c96a414129bb428c8dff7700291fcbd">
                <p class="font-bold mt-4">Lyon Bot</p>
                <p class="mt-2 text-sm text-gray-500 sm:ml-5 text-center">A multi-purpose Discord bot. (Discontinued).</p>
            </div>
        </div>
    </div>

    <waves class="fixed-bottom fill-slate-900"></waves>
</section>


  <style>
    .wave-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }

  .wave-bottom-1647657924 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }

  .wave-top-1647658261 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }

  .wave-top-1647658261 svg {
      position: relative;
      display: block;
      width: calc(121% + 1.3px);
      height: 190px;
  }
  </style>
