<navbar></navbar>
  
  <div class="jumbotron bg-transparent mt-[15vh] text-center text-white">
    <h1 class="text-xl fs-2 mb-2 lg:mr-[290px] font-bold sm:text-center md:text-center">Unbreakablenight</h1>
    <p class='text-gray-300 text-sm md:text-center'>Here's some things I am interested in: <strong class="font-bold underline">Programming, Web Desiging/Graphic Designing</strong>.</p>
    <div class="mt-2 lg:mr-[328px]">
      <a href="https://discord.gg/uPTeFRHB" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg">Discord Server</a>
      <a href="/#/projects" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg ml-2">Projects</a>
    </div>
  
  </div>
  
  <div class="wave-bottom-1647657924 fill-slate-900">
    
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
    </svg>
    
  </div>
  
  <style>
    .wave-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-bottom-1647657924 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-top-1647658261 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-top-1647658261 svg {
      position: relative;
      display: block;
      width: calc(121% + 1.3px);
      height: 190px;
  }
  </style>