<navbar></navbar>
  
  <div class="jumbotron bg-transparent mt-[15vh] text-center text-white">
    <h1 class="text-xl fs-2 mb-2 lg:mr-[290px] font-bold sm:text-center md:text-center">Unbreakablenight</h1>
    <p class='text-gray-300 text-sm md:text-center'>Here's some things I am interested in: <strong class="font-bold">Programming, Web Desiging/Graphic Designing</strong>.</p>
    <div class="mt-2 lg:mr-[328px]">
      <a href="https://discord.gg/uPTeFRHB" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg">Discord Server</a>
      <a href="/#/projects" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg ml-2">Projects</a>
    </div>
  
  </div>
  
  <waves class="fixed-bottom fill-slate-900"></waves>
      
  <style>
    .wave-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-bottom-1647657924 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-top-1647658261 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }
  
  .wave-top-1647658261 svg {
      position: relative;
      display: block;
      width: calc(121% + 1.3px);
      height: 190px;
  }
  </style>