<navbar></navbar>

<div class="container-fluid container-md mt-[25vh] text-center mx-auto">
  <div clas="flex justify-between items-center mx-auto">
    <img src="https://cdn.discordapp.com/avatars/622903645268344835/a_d67786879efba96d16589fe0d12ddb44.gif" alt="logo" class="mx-auto rounded-circle w-32 h-32 cursor-pointer" href="https://discord.gg/KAmYHuQpuG">
    <!-- <h1 class="text-white font-bold drop-shadow-2xl text-4xl">Unbreakablenight</h1> -->
  </div>
  <!-- <hr class="w-[341.15px] pt-2 text-white mt-3 rounded-lg mx-auto "> -->
  <p class="text-white font-semibold mt-2">Here's some things I am interested in: <strong class="font-bold">Programming, Web Desiging/Graphic Designing</strong>.</p>
    <div class="mt-2">
      <a href="https://discord.gg/KAmYHuQpuG" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg">Discord Server</a>
      <a href="/#/projects" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg ml-2">Projects</a>
    </div>
</div>

  <!-- Section 1 -->
  <section class="py-20 mt-[25vh] text-white animate-fade-in-up max-w-6xl mx-auto select-none">
    <h2 class="text-4xl font-bold tracking-tight float-left mb-2 mr-3 underline">Skills</h2>
    <hr class="bg-white m-10 w-70 mx-auto">

    <div class="container">
      <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">
          <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden bg-gray-100 sm:rounded-xl hover:cursor-pointer transition ease-in-out hover:bg-gray-200 hover:-translate-y-2">
              <div class="p-3 text-white bg-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 " viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline><line x1="12" y1="12" x2="20" y2="7.5"></line><line x1="12" y1="12" x2="12" y2="21"></line><line x1="12" y1="12" x2="4" y2="7.5"></line><line x1="16" y1="5.25" x2="8" y2="9.75"></line></svg>
              </div>
              <h4 class="text-xl font-medium text-gray-700">Discord Bot Development</h4>
              <p class="text-base text-center text-gray-500">I'm an experienced Discord Bot Developer for a few bots such as, SparkV, Rato, Database Manager, Wumps.</p>
          </div>

          <div class="flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 bg-gray-100 sm:rounded-xl hover:cursor-pointer transition ease-in-out hover:bg-gray-200 hover:-translate-y-2">
              <div class="p-3 text-white bg-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 " viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l3 3l-3 3"></path><line x1="13" y1="15" x2="16" y2="15"></line><rect x="3" y="4" width="18" height="16" rx="2"></rect></svg>
              </div>
              <h4 class="text-xl font-medium text-gray-700">Website Development</h4>
              <p class="text-base text-center text-gray-500">I've learnt a few web-development skills over the last few months which are, angular, next.js, html.</p>
          </div>

          <div class="flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 bg-gray-100 sm:rounded-xl hover:cursor-pointer transition ease-in-out hover:bg-gray-200 hover:-translate-y-2">
              <div class="p-3 text-white bg-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 " viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14 3v4a1 1 0 0 0 1 1h4"></path><path d="M5 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5"></path><circle cx="6" cy="14" r="3"></circle><path d="M4.5 17l-1.5 5l3 -1.5l3 1.5l-1.5 -5"></path></svg>
              </div>
              <h4 class="text-xl font-medium text-gray-700">Discord Server Manager</h4>
              <p class="text-base text-center text-gray-500">I'm a moderator for the Discord bot known as Attitude and I'm a server owner at Planet Victic/Unbreakable Development/Ch1ll-Studios.</p>
          </div>

          <div class="flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 bg-gray-100 sm:rounded-xl hover:cursor-pointer transition ease-in-out hover:bg-gray-200 hover:-translate-y-2">
              <div class="p-3 text-white bg-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 " viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14 3v4a1 1 0 0 0 1 1h4"></path><path d="M5 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5"></path><circle cx="6" cy="14" r="3"></circle><path d="M4.5 17l-1.5 5l3 -1.5l3 1.5l-1.5 -5"></path></svg>
              </div>
              <h4 class="text-xl font-medium text-gray-700">Graphic Designer</h4>
              <p class="text-base text-center text-gray-500">I'm a Graphic Designer who'd can design Banners, Icons, etc. I've designed over a dozen icons for Discord bots that use them!</p>
          </div>

          <div class="flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 bg-gray-100 sm:rounded-xl hover:cursor-pointer transition ease-in-out hover:bg-gray-200 hover:-translate-y-2">
              <div class="p-3 text-white bg-blue-500 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 " viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M14 3v4a1 1 0 0 0 1 1h4"></path><path d="M5 8v-3a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5"></path><circle cx="6" cy="14" r="3"></circle><path d="M4.5 17l-1.5 5l3 -1.5l3 1.5l-1.5 -5"></path></svg>
              </div>
              <h4 class="text-xl font-medium text-gray-700">Database Management</h4>
              <p class="text-base text-center text-gray-500">I am fimiliar with the database systems known as Enmap, Mongoose, etc and I've been using mongoose for over 1/2 years.</p>
          </div>
      </div>
  </div>
</section>

<section class="resume py-20 mt-[25vh] text-white animate-fade-in-up max-w-6xl mx-auto select-none">
  <h2 class="text-4xl font-bold tracking-tight float-left mb-2 mr-3 underline">Statistics</h2>
  <hr class="bg-white m-10 w-70 mx-auto">
  <p>I've coded over 10+ projects with <a href="https://discord.js.org/#/docs/" class="text-blue-500 transition-all duration-300">Discord.js</a> & <a href="https://node.js.org" class="text-blue-500 transition-all duration-300">Node.js</a>!</p>

  <div class="container">
    <div class="grid grid-cols-4 gap-8 mt-10 sm:grid-cols-8 lg:grid-cols-12 sm:px-8 xl:px-0">
        <div class="relative flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 overflow-hidden hover:cursor-pointer transition ease-in-out hover:-translate-y-2">
          <div class="p-3 text-white bg-blue-500 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 " viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l3 3l-3 3"></path><line x1="13" y1="15" x2="16" y2="15"></line><rect x="3" y="4" width="18" height="16" rx="2"></rect></svg>
          </div>
            <h4 class="text-xl font-medium">10+ Projects Developed</h4>
            <p class="text-base text-center">I've developed over 10+ projects for users across Discord.</p>
        </div>

        <div class="flex flex-col items-center justify-between col-span-4 px-8 py-12 space-y-4 hover:cursor-pointer transition ease-in-out hover:-translate-y-2">
          <div class="p-3 text-white bg-blue-500 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 " viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"></polyline><line x1="12" y1="12" x2="20" y2="7.5"></line><line x1="12" y1="12" x2="12" y2="21"></line><line x1="12" y1="12" x2="4" y2="7.5"></line><line x1="16" y1="5.25" x2="8" y2="9.75"></line></svg>
          </div>
            <h4 class="text-xl font-medium">10+ Logos Designed</h4>
            <p class="text-base text-center">I've designed tons of logos for users across the plaform, even for Bots, servers you name it.</p>
        </div>
    </div>
</div>
</section>

<section class="resume py-20 mt-[25vh] text-white animate-fade-in-up max-w-6xl mx-auto select-none">
  <h2 class="text-4xl font-bold tracking-tight float-left mb-2 mr-3 underline">Resume</h2>
  <hr class="bg-white m-10 w-70 mx-auto">

  <div class="container">
    <p>I'm currently 14 years old.</p>
    <p>My hobbies are: Listening to music, hanging out with friends, Engineering and developing new projects.</p>
    <p>I currently live in Australia, QLD.</p>
    <p>I'm currently in a Relationship with a female (14yo) in school, she was born and raised in Australia like me.</p>
    <p>I'm leading the <a class="font-bold text-blue-500 transition-all duration-300 cursor-pointer" href="https://discord.gg/JxZ7bGRZ">Unbreakable's Studio</a> Discord server.</p>
  </div>

  <div class="resume-title text-white">Summary</div>
  <div class="resume-item pb-0">
    <h4 class="text-blue-500">Hayden. Munt. | HM</h4>
    <p><em>
      Passinote about Discord Bot Development, Web-Development and basic Software Development.
    </em></p>
    <ul>
      <li class="list-disc">
        Queensland, Australia.
      </li>
      <li class="list-disc">
        Discord: <kbd>Unbreakablenight#0001</kbd>
      </li>
    </ul>
  </div>
  <h3 class="resume-title text-white">Eduction</h3>
  <div class="resume-item">
    <h4>Currently in Grade 9, High School in <kbd>Queensland, Australia.</kbd></h4>
    <h5>2013 - 2022</h5>
    <ul>
      <li class="list-disc">
        Learning, Recipes, Web-Development, Japanese, all basic stuff..
      </li>
      <li class="list-disc">
        Been learning about JavaScript & TypeScript since 2020, and currently have 2 years of experience almost heading on too 3 years.
      </li>
    </ul>
  </div>
</section>

  <style>
    .wave-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }

  .wave-bottom-1647657924 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }

  .wave-top-1647658261 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
  }

  .wave-top-1647658261 svg {
      position: relative;
      display: block;
      width: calc(121% + 1.3px);
      height: 190px;
  }
  </style>
