<navbar></navbar>

<div class="container-fluid container-md mt-5">
  <h1 class="text-white font-bold drop-shadow-2xl text-4xl">I’m a graphic designer since 2019</h1>
  <hr class="w-[341.15px] pt-2 text-white mt-3 rounded-lg ">
  <p class="text-white font-semibold mt-2">I’ve been using the program known as Pixellab,  and now I’m using Figma to help me improve with my designing.</p>
    <div class="mt-2 lg:mr-[328px]">
      <a href="https://discord.gg/KAmYHuQpuG" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg">Discord Server</a>
      <a href="/#/projects" class="btn btn-primary px-3 py-2 bg-indigo-600 border-none rounded-lg ml-2">Projects</a>
    </div>
</div>

<div class="container-fluid container-md mt-[529.04px]">
  <h1 class="text-white font-bold drop-shadow-2xl text-4xl">Here's some designs I've accomplished.</h1>
  <p class="text-white font-semibold mt-2">If you want me to design you something join my discord in request to dm me! <strong>Unbreakablenight#0001</strong></p>
  <hr class="w-[341.15px] pt-2 text-white mt-3 rounded-lg">

  <div id="carouselExampleControls" class="carousel slide mt-5 mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://cdn.discordapp.com/banners/622903645268344835/7486fa14d92212df77d49aacb633d0aa.webp?size=4096" class="d-block w-[437.09px] rounded-lg mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/avatars/982887627181158440/44d599e955b64622ae502c3ad86d9359.webp" class="d-block w-[147.24px] rounded-lg mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/avatars/884525761694933073/8f9a6c25685e647362e6663966c3cf33.webp" class="d-block w-[147.24px] rounded-lg mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/attachments/861101775103852546/994905678529433610/UnbreakableTk.png" class="d-block w-[147.24px] rounded-lg mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://media.discordapp.net/attachments/687900050042650658/874929996475543582/ratobot_regular.jpg?width=917&height=917" class="d-block w-[147.24px] rounded-lg" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/attachments/925920589150052464/952009415299596388/20220312_110510.jpg" class="d-block w-[147.24px] rounded-lg mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/attachments/925920589150052464/937978529692418098/20220201_174923.jpg" class="d-block w-[147.24px] rounded-lg mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/attachments/861101775103852546/994906725704552468/PlanetVictic_Info_Banner.png" class="d-block w-[437.09px] rounded-lg mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/attachments/861101775103852546/994905571050397796/Unbreakabel-Studio-infobanner.png" class="d-block w-[437.09px] rounded-lg mx-auto" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/attachments/861101775103852546/994905571050397796/Unbreakabel-Studio-infobanner.png" class="d-block w-[437.09px] rounded-lg" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.discordapp.com/attachments/925920589150052464/994894527271813171/RebrandBanner.png" class="d-block w-[437.09px] rounded-lg" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
